/proxy.crt
/certs
/tmp/*
!.keep

config/*.pem

/spec/examples.txt
/spec/files/app_home/config.yml
/spec/files/app_home/*.pem

*.swp
*.log

.xjzapi
xjzproxy-doc.md
xjzproxy-doc.html
/boot.cmd

# C extensions
/ext/**/*.bundle
/ext/**/*.so
/ext/**/Makefile
/ext/**/*.o
/ext/webview/webview

# build

/releases/linux-*
/releases/darwin-*
/releases/mingw32-*
/releases/icon-*.png

# compile
/data

.DS_Store
/licenses.csv
/licenses/license_key
/licenses/**/*.lcs
