/proxy.crt
/certs
/tmp/*
!.keep

config/*.pem

/spec/examples.txt
/spec/files/app_home/config.yml

*.swp
*.log

.xjzapi
xjzapidoc.md

# C extensions
/ext/**/*.bundle
/ext/**/*.so
/ext/**/Makefile
/ext/**/*.o
/ext/webview/webview

# build

/releases/linux-*
/releases/darwin-*
/releases/windows-*
/releases/icon-*.png

# compile
/data

.DS_Store
/licenses.csv
/licenses/license_key
/licenses/*.lcs
