[Desktop Entry]
Version=<%= $config['app_version'] %>
Type=Application
Terminal=false
Exec=<%= $config['.linux_path'] %>/run
Name=<%= $config['app_name'] %>
Comment=<%= $config['app_desc'] || $config['app_name'] %>
Icon=<%= $config['.linux_path'] %>/lib/icon.png
